@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #32394C;
  --primaryhover: #23273a;
  --primarytransparent: rgba(50, 57, 76, 0.15);
  --accent: #FBB03B;
  --accenthover: #ffbe55;
  --accenttransparent: rgba(251, 176, 59, 0.375);
  --secondary: #F48E20;
  --secondaryhover: #ff9c3a;
  --secondarytransparent: rgba(244, 142, 32, 0.20);
}

/* Tema oscuro */

[data-theme="dark"] {
  --background: #171717;
  --foreground: #ffffff;
  --primary: #32394C;
  --primaryhover: #23273a;
  --primarytransparent: rgba(50, 57, 76, 0.15);
  --accent: #FBB03B;
  --accenthover: #ffbe55;
  --accenttransparent: rgba(251, 177, 59, 0.375);
  --secondary: #F48E20;
  --secondaryhover: #ff9c3a;
  --secondarytransparent: rgba(244, 142, 32, 0.20);
}

html, body {
  overflow: hidden;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif;
}

.section-hero {
  height: 100dvh !important;
}

.overflow-section {
  overflow: auto;
}

.overflow-section::-webkit-scrollbar {
  width: 1px;
}

.overflow-section::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 4px;
}

::selection {
  background: var(--accenttransparent);
  color: var(--primary);
}